services:
  first-member:
    container_name: first-member
    environment:
      - HZ_NETWORK_PUBLICADDRESS=192.168.1.54:5701
      - HZ_CLUSTERNAME=hazelcast-lab2
      - HZ_CPSUBSYSTEM_CPMEMBERCOUNT=3
      - HZ_CPSUBSYSTEM_GROUPSIZE=3
    image: hazelcast/hazelcast:5.4.0
    ports:
      - 5701:5701
    networks:
      - hazelcast-network

  second-member:
    container_name: second-member
    environment:
      - HZ_NETWORK_PUBLICADDRESS=192.168.1.54:5702
      - HZ_CLUSTERNAME=hazelcast-lab2
      - HZ_CPSUBSYSTEM_CPMEMBERCOUNT=3
      - HZ_CPSUBSYSTEM_GROUPSIZE=3
    image: hazelcast/hazelcast:5.4.0
    ports:
      - 5702:5701
    networks:
      - hazelcast-network

  third-member:
    container_name: third-member
    environment:
      - HZ_NETWORK_PUBLICADDRESS=192.168.1.54:5703
      - HZ_CLUSTERNAME=hazelcast-lab2
      - HZ_CPSUBSYSTEM_CPMEMBERCOUNT=3
      - HZ_CPSUBSYSTEM_GROUPSIZE=3
    image: hazelcast/hazelcast:5.4.0
    ports:
      - 5703:5701
    networks:
      - hazelcast-network

networks:
  hazelcast-network:
    driver: bridge
    name: hazelcast-network